# Binaries
ArduinoCLIUtilizer/bin
ArduinoCLIUtilizer/bin/*
MUMLACGPPA/bin
MUMLACGPPA/bin/*
PipelineExecution/bin
PipelineExecution/bin/*
ProjectFolderPathStoragePlugIn/bin
ProjectFolderPathStoragePlugIn/bin/*