<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension
         point="org.eclipse.ui.popupMenus">
         
      <objectContribution
            adaptable="true"
            id="ArduinoCLIUtilizer.contributionInstallZippedArduinoLibrary"
            nameFilter="*.zip"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ArduinoCLIUtilizer"
               path="additions"
               id="ArduinoCLIUtilizer.menuInstallZippedArduinoLibrary">
            <separator
                  name="groupInstallZippedArduinoLibrary">
            </separator>
         </menu>
         <action
               label="Install zipped arduino library"
               class="de.ust.arduinocliutilizer.popup.actions.InstallZippedArduinoLibraryAction"
               menubarPath="ArduinoCLIUtilizer.menuInstallZippedArduinoLibrary/groupInstallZippedArduinoLibrary"
               enablesFor="1"
               id="ArduinoCLIUtilizer.InstallZippedArduinoLibraryAction">
         </action>
         <action
               label="Generate ArduinoCLIUtilizer config file"
               class="de.ust.arduinocliutilizer.popup.actions.GenerateArduinoCLIUtilizerConfigAction"
               menubarPath="ArduinoCLIUtilizer.menuInstallZippedArduinoLibrary/groupInstallZippedArduinoLibrary"
               enablesFor="1"
               id="ArduinoCLIUtilizer.GenerateArduinoCLIUtilizerConfigAction">
         </action>
      </objectContribution>
      
      <objectContribution
            adaptable="true"
            id="ArduinoCLIUtilizer.contributionVerifyCompileUpload"
            nameFilter="*.ino"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="ArduinoCLIUtilizer.menuVerifyCompileUpload"
               label="ArduinoCLIUtilizer"
               path="additions">
            <separator
                  name="groupVerifyCompileUpload">
            </separator>
         </menu>
         <action
               class="de.ust.arduinocliutilizer.popup.actions.VerifyArduinoProjectAction"
               enablesFor="1"
               id="ArduinoCLIUtilizer.VerifyArduinoProjectAction"
               label="Verify Arduino project"
               menubarPath="ArduinoCLIUtilizer.menuVerifyCompileUpload/groupVerifyCompileUpload">
         </action>
         <action
               class="de.ust.arduinocliutilizer.popup.actions.CompileArduinoProjectAction"
               enablesFor="1"
               id="ArduinoCLIUtilizer.CompileArduinoProjectAction"
               label="Compile Arduino project"
               menubarPath="ArduinoCLIUtilizer.menuVerifyCompileUpload/groupVerifyCompileUpload">
         </action>
         <action
               class="de.ust.arduinocliutilizer.popup.actions.CompileAndUploadArduinoProjectAction"
               enablesFor="1"
               id="ArduinoCLIUtilizer.CompileAndUploadArduinoProjectAction"
               label="Compile and upload Arduino project"
               menubarPath="ArduinoCLIUtilizer.menuVerifyCompileUpload/groupVerifyCompileUpload">
         </action>
         <action
               label="Generate ArduinoCLIUtilizer config file"
               class="de.ust.arduinocliutilizer.popup.actions.GenerateArduinoCLIUtilizerConfigAction"
               menubarPath="ArduinoCLIUtilizer.menuVerifyCompileUpload/groupVerifyCompileUpload"
               enablesFor="1"
               id="ArduinoCLIUtilizer.GenerateArduinoCLIUtilizerConfigAction">
         </action>
         <action
               class="de.ust.arduinocliutilizer.popup.actions.ListAllConnectedArduinoBoardsAction"
               enablesFor="1"
               id="ArduinoCLIUtilizer.ListConnectedArduinoBoards"
               label="List connected Arduino boards"
               menubarPath="ArduinoCLIUtilizer.menuVerifyCompileUpload/groupVerifyCompileUpload">
         </action>
      </objectContribution>
      
      <objectContribution
            adaptable="true"
            id="ArduinoCLIUtilizer.contributionUploadInoHexFile"
            nameFilter="*.hex"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ArduinoCLIUtilizer"
               path="additions"
               id="ArduinoCLIUtilizer.menuUploadInoHexFile">
            <separator
                  name="groupUploadInoHexFile">
            </separator>
         </menu>
         <action
               label="Upload .hex file"
               class="de.ust.arduinocliutilizer.popup.actions.UploadInoHexFileAction"
               menubarPath="ArduinoCLIUtilizer.menuUploadInoHexFile/groupUploadInoHexFile"
               enablesFor="1"
               id="ArduinoCLIUtilizer.UploadInoHexFileAction">
         </action>
         <action
               label="Generate ArduinoCLIUtilizer config file"
               class="de.ust.arduinocliutilizer.popup.actions.GenerateArduinoCLIUtilizerConfigAction"
               menubarPath="ArduinoCLIUtilizer.menuUploadInoHexFile/groupUploadInoHexFile"
               enablesFor="1"
               id="ArduinoCLIUtilizer.GenerateArduinoCLIUtilizerConfigAction">
         </action>
         <action
               class="de.ust.arduinocliutilizer.popup.actions.ListAllConnectedArduinoBoardsAction"
               enablesFor="1"
               id="ArduinoCLIUtilizer.ListConnectedArduinoBoards"
               label="List connected Arduino boards"
               menubarPath="ArduinoCLIUtilizer.menuUploadInoHexFile/groupUploadInoHexFile">
         </action>
      </objectContribution>
      
   </extension>

</plugin>
