<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="MUMLACGPPA.contributionPipeline"
            nameFilter="*.muml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="MUMLACGPPA"
               path="additions"
               id="MUMLACGPPA.menuPipeline">
            <separator
                  name="groupPipelineExecution">
            </separator>
            <separator
                  name="groupPipelineSettingsAndExamples">
            </separator>
         </menu>
         <action
               label="Run Pipeline"
               class="mumlacgppa.popup.actions.RunPipelineAction"
               menubarPath="MUMLACGPPA.menuPipeline/groupPipelineExecution"
               enablesFor="1"
               id="MUMLACGPPA.RunPipelineAction">
         </action>
         <action
               label="Generate default/example pipeline settings"
               class="mumlacgppa.popup.actions.GenerateDefaultOrExamplePipelineSettingsAction"
               menubarPath="MUMLACGPPA.menuPipeline/groupPipelineSettingsAndExamples"
               enablesFor="1"
               id="MUMLACGPPA.GenerateDefaultOrExamplePipelineSettingsAction">
         </action>
         <action
               label="Generate all pipeline step example settings"
               class="mumlacgppa.popup.actions.GenerateAllPipelineStepExamplesAction"
               menubarPath="MUMLACGPPA.menuPipeline/groupPipelineSettingsAndExamples"
               enablesFor="1"
               id="MUMLACGPPA.GenerateAllPipelineStepExamplesAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
