<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.exportWizards">
		<wizard
			category="org.muml.core.export"
            class="pipelineexecution.ui.AutoGenerateCleanPrototype"
            id="org.muml.container.transformation.ui.AutoGenerationCleanPrototype"
            name="Automatic generation of Arduino container and code">
		</wizard>
	</extension>

</plugin>
