<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.exportWizards">
		<wizard
			category="org.muml.core.export"
            class="pipelineexecution.ui.AutoDefaultGenerateAndPostProcess"
            id="org.muml.container.transformation.ui.AutoDefaultGenerateAndPostProcess"
            name="Automatic Arduino code generation and post processing by default values">
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.exportWizards">
		<wizard
			category="org.muml.core.export"
            class="pipelineexecution.ui.PipeLineExecutionAsExport"
            id="org.muml.container.transformation.ui.PipeLineExecutionAsExport"
            name="Execute pipeline">
		</wizard>
	</extension>

</plugin>
